<!-- <div class="container"> -->
<!-- <header> -->
<nav class="nav-bar">
  <div class="container">
    <input type="checkbox" id="drop-down-cbox" />
    <label for="drop-down-cbox">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <h1 class="site-logo"><i class="fa fa-cog"></i>Homepage</h1>
    <ul class="main-nav small-caps">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li>
        <span>List of Work</span>
        <ul>
          <li><a href="#">Codepen</a></li>
          <li><a href="">Behance</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <!-- <div class="menu-items">
      <a class="menu-item"> Home </a><a class="menu-item"> Articles </a>
      <a class="menu-item"> Tags </a>
      <a class="menu-item"> About Us </a>
    </div> -->
    <div class="theme-switcher">
      <input
        type="checkbox"
        class="checkbox"
        id="checkbox"
        [checked]="isLightTheme"
        (change)="onThemeSwitchChange()"
      />
      <label for="checkbox" class="checkbox-label">
        <i class="fa fa-moon-o"></i>
        <i class="fa fa-sun-o"></i>
        <span class="ball"></span>
      </label>
    </div>
  </div>
</nav>
<!-- </header> -->
<main>
  <h1>Angular Theming: Light & Dark Mode</h1>
</main>
<!-- </div> -->
