<div class="container">
  <header>
    <div class="menu-items">
      <i class="fa fa-cog"></i>
      <a class="menu-item"> Home </a><a class="menu-item"> Articles </a>
      <a class="menu-item"> Tags </a>
      <a class="menu-item"> About Us </a>
    </div>
    <div class="theme-switcher">
      <!-- <label class="swtich">
        <input
          type="checkbox"
          [checked]="isLightTheme"
          (change)="onThemeSwitchChange()"
        />
      </label> -->
      <!-- <button
        class="js__dark-mode-toggle dark-mode-toggle"
        type="button"
        (click)="onThemeSwitchChange()"
      >
        <span class="dark-mode-toggle__icon"></span>
        <span class="dark-mode-toggle__text hidden--visually">dark mode</span>
      </button> -->

      <input
        type="checkbox"
        class="checkbox"
        id="checkbox"
        [checked]="isLightTheme"
        (change)="onThemeSwitchChange()"
      />
      <label for="checkbox" class="checkbox-label">
        <i class="fa fa-moon-o"></i>
        <i class="fa fa-sun-o"></i>
        <span class="ball"></span>
      </label>
    </div>
  </header>
  <main>
    <h1>Angular Theming: Light & Dark Mode</h1>
  </main>
</div>
