.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  padding: 20px 30px;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 15px;
}

.menu-item {
  display: inline-block;
  font-size: 20px;
  color: var(--header-menu-item-color);
  padding: 0px 15px;
  cursor: pointer;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  background-color: var(--main-content-background-color);
}

h1 {
  font-size: 70px;
  color: var(--main-content-text-color);
}

.theme-switcher {
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--header-theme-switch-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
/* &:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--header-theme-switch-before-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
} */

input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background-color: var(--header-theme-switch-checked-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--header-theme-switch-checked-background-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*----------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
} /* #9b59b6 */

body.dark h1,
body.dark .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon-o {
  color: #f1c40f;
}

.fa-sun-o {
  color: #f39c12;
}

.fa-cog {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/*  Support me if you like it */
.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}
