<!-- <div class="container"> -->
<!-- <header> -->
<nav class="nav-bar">
  <div class="container">
    <input type="checkbox" id="drop-down-cbox" />
    <label for="drop-down-cbox">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <h1 class="site-logo"><i class="fa fa-cog"></i>Homepage</h1>
    <ul class="main-nav small-caps">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li>
        <span>List of Work</span>
        <ul>
          <li><a href="#">Codepen</a></li>
          <li><a href="">Behance</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <!-- <div class="menu-items">
      <a class="menu-item"> Home </a><a class="menu-item"> Articles </a>
      <a class="menu-item"> Tags </a>
      <a class="menu-item"> About Us </a>
    </div> -->
    <div class="theme-switcher">
      <input
        type="checkbox"
        class="checkbox"
        id="checkbox"
        [checked]="isLightTheme"
        (change)="onThemeSwitchChange()"
      />
      <label for="checkbox" class="checkbox-label">
        <i class="fa fa-moon-o"></i>
        <i class="fa fa-sun-o"></i>
        <span class="ball"></span>
      </label>
    </div>
  </div>
</nav>
<!-- </header> -->
<main>
  <!-- <h1>Angular Theming: Light & Dark Mode</h1> -->
  <section class="content">
    <h2>
      Angular Theming: Light & Dark Mode created by
      <a title="Follow me at twitter" href="https://twitter.com/potlitel"
        >@potlitel</a
      >
    </h2>
    <p>Built with Sass &amp; Compass.</p>

    <section class="posts">
      <article class="post">
        <h2 class="post__title">Post I</h2>
        <p class="post__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          veniam alias ea vitae dolores in modi perspiciatis, sequi doloremque
          similique.
        </p>
      </article>
      <article class="post">
        <h2 class="post__title">Post II</h2>
        <p class="post__text">
          Obcaecati et dignissimos placeat blanditiis quaerat inventore iste
          aperiam dolor voluptatem nobis, neque culpa in, harum corporis porro
          eaque numquam.
        </p>
      </article>
    </section>

    <!--  Support me if you like it -->
    <div class="support">
      <a href="https://twitter.com/potlitel" target="_blank"
        ><i class="fa fa-twitter-square"></i
      ></a>
    </div>
  </section>
</main>
<!-- </div> -->
